/* General Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #fff;
}

/* Header */
header {
    background-color: rgb(150, 61, 113);
    color: goldenrod;
    font-family: 'Cinzel', serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    position: sticky;
    top: 0;
    z-index: 100;
}

header h1 {
    font-family: 'Cinzel', serif;
    font-size: 50px;
}

header nav {
    display: flex;
    gap: 30px;
    flex-wrap:wrap;
}

header nav a {
    color: rgb(240, 237, 237);
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s;
}

header nav a:hover {
    color: goldenrod;
}

/* Hero Section */
.hero {
    background: url('../images/banner.jpg') no-repeat center center/cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: red;
}

.hero h1 {
    font-family: 'Cinzel', serif;
    font-size: 50px;
    font-style: italic;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 25px;
    color: #ffffff;
}

.btn {
    background: rgb(175, 147, 74);
    color: black;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: #e6b800;
}

/* Categories Section */
.categories {
    padding: 80px 20px;
    text-align: center;
}

.categories h2 {
    font-family: 'Cinzel', serif;
    font-size: 36px;
    color: green;
    margin-bottom: 40px;
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    width: 280px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card h3 {
    padding: 15px 0;
    font-size: 20px;
}

.card:hover {
    transform: translateY(-10px);
}

/* Footer */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 25px;
}

footer .social {
    margin-top: 10px;
}

footer .social i {
    margin: 0 10px;
    cursor: pointer;
    transition: 0.3s;
}

footer .social i:hover {
    color: goldenrod;
    transform: scale(1.2);
}

/* Responsive */
@media(max-width:768px){
    .grid {
        flex-direction: column;
        align-items: center;
    }

    header {
        flex-direction: column;
        gap: 10px;
    }
}
